*{
    margin: 0;
    padding: 0;
    background-color: #caf0f8;
}

.container {
     display: flex;
     flex-direction: column;
     text-align: center;


}

h1{
    margin: 5px;
    color: blue;
}

#inp{
    height: 25px;
    border: 2px solid green;
 
    font: bold;
        
}

#send-btn{
    height: 25px;
     color: green;
     border: 2px solid green;
}

#chat{
    margin: auto;
}
    
   

